In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
df.drop('Id', axis=1, inplace=True)

In [5]:
df.isnull().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [8]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [9]:
from sklearn.preprocessing import LabelEncoder
lbl = LabelEncoder()
df['Species'] = lbl.fit_transform(df[['Species']])

c:\Users\abhap\OneDrive\Documents\ML-(Python)\Lectures Practice ML\venv\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [10]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

In [11]:
X = df.drop('Species', axis=1)
y = df['Species']

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [13]:
X_train

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
22             4.6           3.6            1.0           0.2
15             5.7           4.4            1.5           0.4
65             6.7           3.1            4.4           1.4
11             4.8           3.4            1.6           0.2
42             4.4           3.2            1.3           0.2
..             ...           ...            ...           ...
71             6.1           2.8            4.0           1.3
106            4.9           2.5            4.5           1.7
14             5.8           4.0            1.2           0.2
92             5.8           2.6            4.0           1.2
102            7.1           3.0            5.9           2.1

[120 rows x 4 columns]

In [14]:
X_train.shape, X_test.shape

((120, 4), (30, 4))

In [15]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [22]:
X_train

array([[-1.47393679,  1.22037928, -1.5639872 , -1.30948358],
       [-0.13307079,  3.02001693, -1.27728011, -1.04292204],
       [ 1.08589829,  0.09560575,  0.38562104,  0.28988568],
       [-1.23014297,  0.77046987, -1.21993869, -1.30948358],
       [-1.7177306 ,  0.32056046, -1.39196294, -1.30948358],
       [ 0.59831066, -1.25412249,  0.72966956,  0.95628954],
       [ 0.72020757,  0.32056046,  0.44296246,  0.42316645],
       [-0.74255534,  0.99542457, -1.27728011, -1.30948358],
       [-0.98634915,  1.22037928, -1.33462153, -1.30948358],
       [-0.74255534,  2.34515281, -1.27728011, -1.44276436],
       [-0.01117388, -0.80421307,  0.78701097,  0.95628954],
       [ 0.23261993,  0.77046987,  0.44296246,  0.55644722],
       [ 1.08589829,  0.09560575,  0.5576453 ,  0.42316645],
       [-0.49876152,  1.8952434 , -1.39196294, -1.04292204],
       [-0.49876152,  1.44533399, -1.27728011, -1.30948358],
       [-0.37686461, -1.47907719, -0.01576889, -0.24323741],
       [ 0.59831066, -0.57925837,  0.78701097,  0.42316645],
       [ 0.72020757,  0.09560575,  1.01637665,  0.82300877],
       [ 0.96400139, -0.12934896,  0.38562104,  0.28988568],
       [ 1.69538284,  1.22037928,  1.36042516,  1.75597417],
       [-0.13307079, -0.35430366,  0.2709382 ,  0.15660491],
       [ 2.18297047, -0.12934896,  1.64713226,  1.22285108],
       [-0.2549677 , -0.12934896,  0.44296246,  0.42316645],
       [-0.86445224,  0.99542457, -1.33462153, -1.30948358],
       [ 2.30486738, -0.57925837,  1.70447368,  1.08957031],
       [-0.01117388, -0.80421307,  0.21359679, -0.24323741],
       [-0.74255534,  0.77046987, -1.33462153, -1.30948358],
       [-0.98634915,  0.99542457, -1.39196294, -1.17620281],
       [-0.86445224,  1.67028869, -1.04791443, -1.04292204],
       [-0.98634915, -2.37889602, -0.13045173, -0.24323741],
       [ 0.59831066, -0.80421307,  0.67232814,  0.82300877],
       [-1.23014297,  0.77046987, -1.04791443, -1.30948358],
       [-0.98634915, -0.12934896, -1.21993869, -1.30948358],
       [-0.86445224,  0.54551516, -1.16259727, -0.90964127],
       [-0.2549677 , -0.80421307,  0.2709382 ,  0.15660491],
       [-0.86445224,  0.77046987, -1.27728011, -1.30948358],
       [-0.13307079, -0.12934896,  0.2709382 ,  0.02332414],
       [ 2.30486738,  1.67028869,  1.70447368,  1.35613185],
       [-1.47393679,  0.32056046, -1.33462153, -1.30948358],
       [ 0.47641375, -0.35430366,  0.32827962,  0.15660491],
       [-0.13307079, -1.25412249,  0.72966956,  1.08957031],
       [-0.37686461,  2.57010752, -1.33462153, -1.30948358],
       [ 0.23261993, -0.12934896,  0.61498672,  0.82300877],
       [-0.01117388, -0.80421307,  0.78701097,  0.95628954],
       [ 0.23261993, -1.9289866 ,  0.15625537, -0.24323741],
       [-0.49876152, -0.12934896,  0.44296246,  0.42316645],
       [ 0.47641375,  0.77046987,  0.95903523,  1.48941263],
       [-0.37686461, -1.7040319 ,  0.15625537,  0.15660491],
       [-0.49876152,  1.8952434 , -1.16259727, -1.04292204],
       [-0.98634915, -1.7040319 , -0.24513457, -0.24323741],
       [ 0.72020757, -0.80421307,  0.90169381,  0.95628954],
       [-0.98634915,  0.54551516, -1.33462153, -1.30948358],
       [-0.98634915,  0.32056046, -1.44930436, -1.30948358],
       [-0.37686461, -1.47907719,  0.04157253, -0.10995664],
       [ 1.08589829, -0.12934896,  0.72966956,  0.68972799],
       [-1.10824606,  0.09560575, -1.27728011, -1.44276436],
       [-0.01117388, -0.57925837,  0.78701097,  1.6226934 ],
       [-0.98634915,  0.77046987, -1.27728011, -1.30948358],
       [-0.98634915,  0.99542457, -1.21993869, -0.7763605 ],
       [ 0.11072303,  0.32056046,  0.61498672,  0.82300877],
       [-0.86445224, -1.25412249, -0.41715882, -0.10995664],
       [ 1.32969211,  0.32056046,  1.13105949,  1.48941263],
       [ 0.23261993, -0.80421307,  0.78701097,  0.55644722],
       [ 0.35451684, -1.02916778,  1.07371807,  0.28988568],
       [ 2.30486738, -0.12934896,  1.36042516,  1.48941263],
       [-0.37686461, -1.25412249,  0.15625537,  0.15660491],
       [-1.7177306 , -0.35430366, -1.33462153, -1.30948358],
       [-1.83962751, -0.12934896, -1.50664578, -1.44276436],
       [ 0.23261993, -1.9289866 ,  0.72966956,  0.42316645],
       [ 1.69538284,  0.32056046,  1.30308374,  0.82300877],
       [-1.47393679,  0.09560575, -1.27728011, -1.30948358],
       [-0.86445224,  0.99542457, -1.33462153, -1.17620281],
       [-1.7177306 , -0.12934896, -1.39196294, -1.30948358],
       [ 0.59831066, -1.25412249,  0.67232814,  0.42316645],
       [ 0.59831066,  0.77046987,  1.07371807,  1.6226934 ],
       [-1.47393679,  0.77046987, -1.33462153, -1.17620281],
       [ 1.2077952 , -0.12934896,  1.01637665,  1.22285108],
       [ 0.59831066,  0.54551516,  1.30308374,  1.75597417],
       [-1.35203988,  0.32056046, -1.39196294, -1.30948358],
       [ 0.35451684, -0.35430366,  0.5576453 ,  0.28988568],
       [ 0.84210448, -0.57925837,  0.50030388,  0.42316645],
       [ 0.47641375, -0.57925837,  0.61498672,  0.82300877],
       [ 1.45158902,  0.32056046,  0.5576453 ,  0.28988568],
       [ 0.72020757,  0.32056046,  0.90169381,  1.48941263],
       [-0.86445224,  1.67028869, -1.21993869, -1.30948358],
       [ 1.32969211,  0.09560575,  0.95903523,  1.22285108],
       [ 0.11072303, -0.12934896,  0.2709382 ,  0.42316645],
       [ 0.84210448, -0.12934896,  0.84435239,  1.08957031],
       [-0.13307079, -1.02916778, -0.13045173, -0.24323741],
       [-0.74255534, -0.80421307,  0.09891395,  0.28988568],
       [ 0.35451684, -0.12934896,  0.50030388,  0.28988568],
       [-1.5958337 , -1.7040319 , -1.39196294, -1.17620281],
       [ 0.96400139, -0.35430366,  0.50030388,  0.15660491],
       [-0.37686461, -1.02916778,  0.38562104,  0.02332414],
       [-0.62065843,  1.44533399, -1.27728011, -1.30948358],
       [-0.2549677 , -0.12934896,  0.21359679,  0.15660491],
       [ 1.81727975, -0.35430366,  1.475108  ,  0.82300877],
       [ 1.08589829,  0.54551516,  1.13105949,  1.22285108],
       [-0.86445224,  1.44533399, -1.27728011, -1.04292204],
       [-1.10824606, -1.47907719, -0.24513457, -0.24323741],
       [ 1.08589829,  0.54551516,  1.13105949,  1.75597417],
       [ 1.69538284, -0.12934896,  1.18840091,  0.55644722],
       [-1.10824606,  0.09560575, -1.27728011, -1.44276436],
       [ 1.08589829,  0.09560575,  1.07371807,  1.6226934 ],
       [-1.10824606, -0.12934896, -1.33462153, -1.30948358],
       [ 1.32969211,  0.09560575,  0.67232814,  0.42316645],
       [ 1.93917666, -0.57925837,  1.36042516,  0.95628954],
       [ 0.59831066, -0.35430366,  1.07371807,  0.82300877],
       [-0.13307079, -0.57925837,  0.21359679,  0.15660491],
       [ 0.84210448, -0.12934896,  1.01637665,  0.82300877],
       [ 0.59831066, -1.7040319 ,  0.38562104,  0.15660491],
       [ 0.72020757, -0.35430366,  0.32827962,  0.15660491],
       [-0.2549677 , -0.57925837,  0.67232814,  1.08957031],
       [ 0.11072303, -0.12934896,  0.78701097,  0.82300877],
       [-0.49876152,  0.77046987, -1.16259727, -1.30948358],
       [ 0.35451684, -0.57925837,  0.15625537,  0.15660491],
       [-1.10824606, -1.25412249,  0.44296246,  0.68972799],
       [-0.01117388,  2.1201981 , -1.44930436, -1.30948358],
       [-0.01117388, -1.02916778,  0.15625537,  0.02332414],
       [ 1.57348593, -0.12934896,  1.24574233,  1.22285108]])

In [16]:
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()

log.fit(X_train, y_train)
y_pred_train = log.predict(X_train)
y_pred_test = log.predict(X_test)

In [17]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

print(confusion_matrix(y_train, y_pred_train))
print(classification_report(y_train, y_pred_train))
print(accuracy_score(y_train, y_pred_train))

[[40  0  0]
 [ 0 38  3]
 [ 0  1 38]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        40
           1       0.97      0.93      0.95        41
           2       0.93      0.97      0.95        39

    accuracy                           0.97       120
   macro avg       0.97      0.97      0.97       120
weighted avg       0.97      0.97      0.97       120

0.9666666666666667

In [18]:
print(confusion_matrix(y_test, y_pred_test))
print(classification_report(y_test, y_pred_test))
print(accuracy_score(y_test, y_pred_test))

[[10  0  0]
 [ 0  9  0]
 [ 0  0 11]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      1.00      1.00         9
           2       1.00      1.00      1.00        11

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

1.0

In [19]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100, random_state=42)

rf.fit(X_train, y_train)
y_pred_train = rf.predict(X_train)
y_pred_test = rf.predict(X_test)

In [20]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_train, y_pred_train))
print(classification_report(y_train, y_pred_train))
print(accuracy_score(y_train, y_pred_train))

[[40  0  0]
 [ 0 41  0]
 [ 0  0 39]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        40
           1       1.00      1.00      1.00        41
           2       1.00      1.00      1.00        39

    accuracy                           1.00       120
   macro avg       1.00      1.00      1.00       120
weighted avg       1.00      1.00      1.00       120

1.0

In [21]:
print(confusion_matrix(y_test, y_pred_test))
print(classification_report(y_test, y_pred_test))
print(accuracy_score(y_test, y_pred_test))

[[10  0  0]
 [ 0  9  0]
 [ 0  0 11]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      1.00      1.00         9
           2       1.00      1.00      1.00        11

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

1.0